<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Weather</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="time"></h1>
      <h1 id="temp"></h1>
      <h1 id="weather"></h1>
      <h2 id="desc"></h2>
    </div>
    <script>
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successFunction, errorFunction)
      }
      //Get latitude and longitude;
      function successFunction(position) {
        var lat = position.coords.latitude
        var long = position.coords.longitude
        fetch('/weather?lat=' + lat + '&long=' + long)
          .then((response) => response.json())
          .then(function (data) {
            console.log(data)
            document.getElementById('temp').innerHTML = data.temp
            document.getElementById('weather').innerHTML = data.weather
            document.getElementById('desc').innerHTML = data.description
          })
      }
      
      function errorFunction(position) {
        alert('Geolocation is not supported by this browser.')
      }
      setInterval(() => {
        fetch('/time')
          .then((response) => response.json())
          .then((data) => {
            document.getElementById('time').innerText = data.time
          })
      }, 1000)
    </script>
  </body>
</html>
